#cont{

    /* margin-top: 90px !important; */

}

.wthreesearch input[type="text"]{

    border: 1px solid #ff6700 !important;

}

.wthreesearch .btn-default{

    background-color: #ff6700 !important;

    border-color: #ff6700 !important;

}

.fa-long-arrow-right{

    color:#ff6700 !important;

}